:root {
    --primary-color: #0A63F3;
    --accent-color: #F2A60A;
    --primary-light-color: #2478FF;
    --primary-dark-color: #0342A6;
    --accent-dark-color: #A66F00;
    --text-color: #111111;
    --text-onprimary-color: #eee;
    --text-onaccent-color: #eee;
    --text-disabled-color: #777;
    --background-color: #FCFCFC;
    --background-panels-color: #E1F4FB;
    --border-color-light: #0001;

    --border-radius-l: 0.75rem;
    --border-radius-m: 0.5rem;
    --border-radius-s: 0.25rem;

    --font-family: "Trebuchet MS", arial, sans-serif;

    --scale: 1;
}

.material-symbols-sharp {
    vertical-align: middle;

    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
}
